doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            section(class="py-8 px-4 text-center")
                div(class="max-w-auto md:max-w-lg mx-auto")
                    img(src="placeholders/pictures/error.svg" alt="" class="mb-8" )
                    h2(class="text-5xl mb-2 font-heading" ) Page not found
                    p(class="mb-6 text-gray-500") You found a rare broken link on Reward Farmers.

                    div
                        a(href="#" class="px-4 text-blue-700 hover:underline") http://rewardfarmers.com